@font-face {
	font-family: Poppins-Regular;
	src: url('../src/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../src/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../src/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url('../src/fonts/poppins/Poppins-SemiBold.ttf');
}

html,body {
	height: 100%;
}

.my-login-page {
	background-image: url("../src/blue sky.jpg");
	background-size: cover;
	background-position: center;
	font-size: 14px;
	position: relative;
	z-index: 1;
}

.my-login-page::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
	/*background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));*/
	/*background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));*/
	/*background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));*/
}

.my-login-page .brand {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	margin: 25px auto;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.card.fat {
	padding: 10px 25px;
}

.card.fat {
	border-radius: 3.5%;
	/*box-shadow: 0 20px 20px 0px #888888;*/
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.card-title {
	font-weight: 700;
	text-align: center;
}

.input-title.input {
	font-family: Poppins-SemiBold;
}
.input, .remember, .footer{
	font-family: Poppins-Regular;
}

.input-title,.btn.lg-btn,.btn.rg-btn {
	font-weight: 600;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.btn-group{
	width: 100%;
}

.btn.lg-btn, .btn.rg-btn {
	border-radius: 50px;
	box-sizing: border-box;
	font-weight: 500;
	/*box-shadow: 0 10px 20px 0px rgba(20, 70, 184, 0.5);*/
}

.btn.rg-btn {
	background: none;
	border: 1px solid #007bff;
	color: #007bff;
	display: inline-block;
}

.register {
    margin-right: 10%;
	width: 100%;
}

.login {
	width: 100%;
 }

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.footer {
	margin: 50px 0 0;
	color: #e2e2e2;
	font-weight: 500;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
