@font-face {
	font-family: Poppins-Regular;
	src: url('../src/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../src/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../src/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url('../src/fonts/poppins/Poppins-SemiBold.ttf');
}

html,body {
	height: 100%;
}

.my-login-page {
	background-image: url("../src/cactus.jpg");
	background-size: cover;
	background-position: center;
	font-size: 14px;
	position: relative;
	z-index: 1;
}

.my-login-page::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(0,123,255,0.55), rgba(188,0,255,0.55));
}

.my-login-page .brand {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	margin: 25px auto;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.card.fat {
	margin-top: 22%;
	padding: 10px 25px;
	border-radius: 3.5%;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.card-title {
	font-weight: 700;
	text-align: center;
}


/*switch profile photo*/

.picture-carousel {
	position: relative;
	display: flex;
}


/*switch arrow*/

.arrow {
	z-index: 3;
	position: absolute;
	font-size: 60px;
	height: 100%;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}

.arrow:hover {
	cursor: pointer;
}

.left-arrow {
	left: 0;
}

.before-arrow {
	width: 0px;
	height: 0px;
	border-width: 20px;
	border-style: solid;
	border-color: transparent #007bff transparent transparent;
}

.right-arrow {
	right: 0;
}

.after-arrow{
	width: 0px;
	height: 0px;
	border-width: 20px;
	border-style: solid;
	border-color: transparent  transparent transparent #007bff;
}

.picture-carousel img {
	width: 70px;
	height: 70px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.img-setting {
	margin: 0px -15px;
}

.first-img.img-setting {
	margin-left: 40px;
}
.p1, .p2, .p3{
	border-radius: 10%;
}

.p1 {
	transform: scale(0.6);
	z-index: 1;
}

.p1:hover {
	transform: scale(0.8);
}

.p2 {
	transform: scale(0.8);
	z-index: 2;
}

.p2:hover {
	transform: scale(1.0);
}

.p3 {
	transform: scale(1.0);
	z-index: 3;
}

.p3:hover {
	transform: scale(1.2);
}

.input-title.input {
	font-family: Poppins-SemiBold;
}
.input, .remember, .footer{
	font-family: Poppins-Regular;
}

.input-title,.btn.lg-btn,.btn.rg-btn {
	font-weight: 600;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.btn-group{
	width: 100%;
}

.btn.lg-btn, .btn.rg-btn {
	border-radius: 50px;
	box-sizing: border-box;
	font-weight: 500;
}

.btn.rg-btn {
	background: none;
	border: 1px solid #007bff;
	color: #007bff;
	display: inline-block;
}

.register {
    margin-right: 10%;
	width: 100%;
}

.login {
	width: 100%;
 }

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.footer {
	font-size: 16px;
    position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	align-self: center;
	color: #ffffff;
	font-weight: 500;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
